- name: Install Android SDK
  run: |
    sudo mkdir -p /usr/lib/android-sdk/cmdline-tools
    cd /usr/lib/android-sdk/cmdline-tools
    sudo wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
    sudo unzip commandlinetools-linux-11076708_latest.zip
    sudo mv cmdline-tools latest

    echo "ANDROID_SDK_ROOT=/usr/lib/android-sdk" >> $GITHUB_ENV
    echo "PATH=/usr/lib/android-sdk/cmdline-tools/latest/bin:/usr/lib/android-sdk/platform-tools:$PATH" >> $GITHUB_ENV

    yes | sudo /usr/lib/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses

    sudo /usr/lib/android-sdk/cmdline-tools/latest/bin/sdkmanager \
      "platform-tools" \
      "platforms;android-33" \
      "build-tools;33.0.2"
