name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-setuptools git python3-dev \
          build-essential autoconf libtool pkg-config zlib1g-dev \
          libncurses5-dev libffi-dev libssl-dev openjdk-17-jdk unzip wget

        pip install --upgrade pip
        pip install buildozer cython kivy

    - name: Install Android SDK
      run: |
        export ANDROID_HOME=$HOME/android-sdk
        mkdir -p $ANDROID_HOME/cmdline-tools

        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
        unzip commandlinetools-linux-*.zip -d $ANDROID_HOME/cmdline-tools
        mv $ANDROID_HOME/cmdline-tools/cmdline-tools $ANDROID_HOME/cmdline-tools/latest

        export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools

        yes | sdkmanager --licenses

        sdkmanager --verbose \
          "platform-tools" \
          "build-tools;33.0.2" \
          "platforms;android-33"

    - name: Build APK
      run: |
        export ANDROID_HOME=$HOME/android-sdk
        export PATH=$PATH:$ANDROID_HOME/build-tools/33.0.2:$ANDROID_HOME/platform-tools

        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: MonApp-APK
        path: bin/*.apk
